<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="https://api.whatsapp.com/send?phone=5585981464574&text=Texto%20aqui" style="text-decoration: none;" target="_blank">
                        <p  class="nav-link p-0 text-muted" style="text-decoration: none;">+55 (85)98146-4574</p>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <p  class="nav-link p-0 text-muted">© 2022 Company, GuCas</p>
                </li>
            </ul>
        </div>
        <div class="col">            
        </div>
        <div class="col"></div>
        <div class="col">
            <ul class="nav flex-column">
                <h5>Ihone Araujo</h5>
                <li class="nav-item mb-2"><a href="https://api.whatsapp.com/send?phone=5585991218289&text=Texto%20aqui" class="nav-link p-0 text-muted">Whatsapp</a></li>
                <li class="nav-item mb-2"><a href="https://www.instagram.com/ihonearaujoimoveis/" class="nav-link p-0 text-muted">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#fale-comigo" class="nav-link p-0 text-muted">Fale Comigo</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#inicio" class="nav-link p-0 text-muted">Inicio</a></li>
                <li class="nav-item mb-2"><a href="/home/#sobre-mim" class="nav-link p-0 text-muted">Sobre Mim</a></li>
                <li class="nav-item mb-2"><a href="https://api.whatsapp.com/send?phone=5585991218289&text=Olá,%20gostaria%20de%20anunciar%20meu%20imóvel%20com%20você." class="nav-link p-0 text-muted">Anunciar</a></li>
                <li class="nav-item mb-2"><a href="/home/#fale-comigo" class="nav-link p-0 text-muted">Fale Comigo</a></li>
                <li class="nav-item mb-2"><a href="/financas" class="nav-link p-0 text-muted">Simulação</a></li>
            </ul>
        </div>
    </footer>
</div>