<header>
  <div class="fixed-top navbar">
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand " href="/home">
          <img src="/assets/Rectangle 5.svg" id="logo-img" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://api.whatsapp.com/send?phone=5585991218289&text=Olá,%20gostaria%20de%20anunciar%20meu%20imóvel%20com%20você." target="_blank">Anunciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre-mim">Sobre Mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fale-comigo">Fale Comigo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/financas">Simulação</a>
          </li>
        </ul>
      </div>
</header>