<header>
  <div class="fixed-top navbar">
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand " href="/home">
          <img src="/assets/Rectangle 5.svg" id="logo-img" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Anunciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Sobre Mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Fale Comigo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Simulação</a>
          </li>
        </ul>
      </div>
</header>