<%- include ('./../elements/header.ejs') %>

    <body>
        <%- include ('./../elements/navbar.ejs') %>
            <div class="fundo-azul text-center" id="inicio">
                <div class="container-fluid center-me">
                    <div class="row text-center">
                        <div class="col-md-12 text-center">
                            <label style="font-size:35px; font-weight:600; color: #fff;">Aqui pode fazer uma simulação do
                                financiamento com seu banco</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid py-3 pt-md-5 pb-md-4 mx-auto text-left">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-md-2 py-3">
                    </div>
                </div>
            </div>
            <div class="album py-2">
                <div class="container">
                    <div class="row d-flex justify-content-around">
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_banrisul.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                <a class="text-button" href="https://www.banrisul.com.br/brz/link/brzwswhn.html"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary"  type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_bb.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" href="https://www42.bb.com.br/portalbb/imobiliario/creditoimobiliario/simular,802,2250,2250.bbx"> <div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_bradesco.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" href="https://banco.bradesco/html/classic/produtos-servicos/emprestimo-e-financiamento/encontre-seu-credito/simuladores-imoveis.shtm?gclid=CjwKCAjw3qGYBhBSEiwAcnTRLt2116d_3v5UcdBUHX4YqDW3R5Iv3VA914pE3LzjQAEWyoVxmT9n0BoCwcAQAvD_BwE&gclsrc=aw.ds"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_caixa.png" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" href="http://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="album py-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_hsbc.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_itau.png" href="https://www.itau.com.br/emprestimos-financiamentos/credito-imobiliario/simulador/" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" href="https://www.itau.com.br/emprestimos-financiamentos/credito-imobiliario/simulador/"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/santander.png" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" href="https://www.santander.com.br/creditos-e-financiamentos/para-sua-casa/credito-imobiliario?gclid=CjwKCAjw3qGYBhBSEiwAcnTRLklehHPDo9QVtkFXx_zWhs37HpreZt81wkXVTY-8vTHADHhibHIDtBoC-O8QAvD_BwE"></a><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include ('./../elements/footer.ejs') %>
    </body>