<%- include ('./../elements/header.ejs') %>

<link rel="stylesheet" href="/style/login.css">

<body class="text-center">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>Cadastro</h1>
                    <input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <button>Cadastrar</button>
                </form>
            </div>

            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Login</h1>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <button>Entrar</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Já possui cadastro?</h1>
                        <p>Para fazer o login, clique no botão abaixo.</p>
                        <button class="ghost" id="signIn">Login</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Bem vindo de Volta!</h1>
                        <p>Caso ainda não tenha cadastro, clique no botão abaixo.</p>
                        <button class="ghost" id="signUp">Cadastro</button>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="/script/login.js"></script>